.col-md-5 img {
    width: 100%;
}

.flashes li {
    list-style-type: none;
    font-weight: bold;
}

.flashes {
    padding: 15px 0px;
    text-align: center;
    color: white;
    background-color: #53595f;
    border-radius: 15px;
}