{% extends "base.html" %}
{% block content %}

    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="https://lotr.fandom.com/wiki/Thorin_II_Oakenshield" rel="noopener noreferrer nofollow" target="_blank">
                    <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
                    <h3 class="post-subtitle">The Lord of the Rings wiki, from which most of this content is taken.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Thorin &amp; Company</a>
                    on October 15, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="https://lotr.fandom.com/wiki/Aragorn_II_Elessar" rel="noopener noreferrer nofollow" target="_blank">
                    <h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend
                        to waste any of mine - A story of Aragorn II Elessar</h2>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Thorin &amp; Company</a>
                    on October 15, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="https://lotr.fandom.com/wiki/Gandalf" rel="noopener noreferrer nofollow" target="_blank">
                    <h2 class="post-title">Science has not yet mastered prophecy</h2>
                    <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the
                        next ten.</h3>
                    <h4>The incredible origins of Gandalf the White</h4>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Thorin &amp; Company</a>
                    on October 15, 2021
                </p>
            </div>
        </div>
    </div>
{% endblock %}